@charset "utf-8";
/* Poppins font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Bungee Shade font-family: 'Bungee Shade', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); 

/* CSS Document */
body{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header{
	/* position: fixed;
	top: 0;
	left: 0; */
	width: 100%;
	/* z-index: 100000; */
}
:root {
	--clr-gray-light: #a0a0a0;
	--clr-gray-med: #616b74;
	--clr-gray-dark: #414b56;
	--clr-link: #414b56;
	--clr-banner: #262525;
}
button:active{
	transform:scale(1.1);
}

/* Navigation */
nav {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	height:60px;
	background-color:#ffffff;
	padding:0px 10%;
	overflow: hidden;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin-left: 15px;
	font-family: myriad pro regular;
	color:#333333;
	font-size: 15px;
	padding: 0.6em 1.25em;
	font-weight: 700;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.logo{
	font-family: 'Bungee Shade', cursive; 
	color:#0B0B0B;
	font-size: 30px;
}
.shadow{
	position: relative;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}
.shadow:before,
.shadow:after{
	content: '';
	position: absolute;
	z-index: -1;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	top: 50%;
	bottom: 0;
	left: 10px;
}
.toggle{
	display: none;
}
.btn-menu:hover {
	border-radius: 10em;
	background-color: #333333;
	color: white;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

/* Content Portfolio */
.contentPortfolio {
    width: 100%;
	height: 100%;
	background-color: #ebebeb;
}
.parentCrumbs {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.childBcrumbs {
	width: 75%;
	height: 50px;
	align-items: center;
	margin: 10px 0 0;
}
.bcrumbs {
	display: flex;
	width: 100%;
	height: 35px;
	margin-top: 10px;
	align-items: center;
}
.bcrumbs p {
	margin: 0 5px;
}
.bcrumbs a {
	text-decoration: none;
	font-family: calibri;
	font-size: 1rem;
	font-weight: 400;
	/* font-style: italic; */
	float: left;
	color: #1d1c1c;
}
.bcrumbs a:nth-child(5) {
	color: #1d1c1c;
}
.bcrumbs a:hover {
	color: #555555;
}
.container {
	display: flex;
    width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.parentPost {
	background-color: white;
	width: 75%;
	height: 100%;
	margin: 10px 0;
	border: 2px solid rgba(0, 0, 0, 0.125);
	/* box-shadow:0px 0px 10px var(--clr-gray-light); */
}
.contentPost {
	padding: 50px ;
}
.metaCategory {
	display: flex;
	width: 100%;
	height: 35px;
	align-items: center;
}
.metaCategory p {
	margin: 0 5px;
}
.metaCategory a {
	text-decoration: none;
	font-family: calibri;
	font-size: 1.35rem;
	font-weight: 400;
	/* font-style: italic; */
	float: left;
	color: #1d1c1c;
}
.metaCategory a:hover {
	color: #555555;
}
.titlePost {
	width: 100%;
	height: 100%;
	margin: 5px 0;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}
#titleDesc {
	display: flex;
	width: 100%;
	height: 35px;
	font-family: sans-serif;
	align-items: center;
	justify-content: space-between;
}
#titleDesc .date {
	float: left;
}
#titleDesc .written {
	float: right;
}
.written a {
	color: #1d1c1c;
	font-style: italic;
}
.written a:hover {
	color: #555555;
}
.thumbnailPost img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.article {
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	line-height: 2;
}
.btnArticle {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}
.btnArticle button {
	width:140px;
	height: 45px;
	color:#ffffff;
	outline:none;
	border:none;
	font-size: 1.2rem;
	margin: 0 10px;
	align-items: center;
	cursor: pointer;
	font-family: calibri;
	background-color:#262525;
}
.profileAdmin {
	margin: 20px 0;
}

/* About Admin Profile*/
.about-container{
	width:100%;
	height:330px;
	background:#ffffff;
	border-radius:20px;
	/* box-shadow:2px 2px 10px rgba(0,0,0,0.2); */
	display: flex;
	margin:0;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}
.about-container img{
	height:250px;
}
.about-text{
	width: 500px;
	text-align: justify;
} 
.about-text p:nth-child(1){
	color:#1d1c1c;
	font-family: myriad pro;
	font-weight:bold;
	font-size:30px;
	line-height:0px;
}
.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:20px;
	font-family: myriad pro;
	font-weight:bold;
	line-height:1px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
	color:#7e7d7d;
	font-family:calibri;
	font-size:16px;
	line-height: 1.5;
}
.about-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	cursor: pointer;
	font-family: calibri;
	background-color:#262525;
}

/* Footer */
footer p{
	font-family: calibri;
}
footer p:nth-child(1){
	font-size: 30px;
	font-weight:bold;
	color:#191919;
	line-height:10px;
}
footer p:nth-child(2){
	font-size: 16px;
	color:#7e7d7d;
	width:600px;
	text-align: center;
}
footer{
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}
.copyright{
	color:#565555;
	font-size: 12px;
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}
.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#2B2B2B;
}
/* Go To Top */
#goTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 25px;
	border: none;
	outline: none;
	background-color: #333333;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	}
#goTop:hover {
	background-color: #555;
}


/* Responsive */
@media(max-width:1024px){
	*{
		box-sizing: border-box;
	}
	.childBcrumbs{
		width: 85%;
	}
	.parentPost{
		width: 85%;
	}
}
@media(max-width:768px){
	section{
		background-image:none;
		background-color:#f7f7f7;
	}
	.toggle{
		display: block;
	}
	nav ul{
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;
		display: none;
	}
	nav ul li{
		padding: 20px;
	}
	nav ul li a{
		font-family: calibri;
		font-size: 1.4em;
		text-transform: uppercase;
		color:#5c5c5c;
	}
	nav ul li a:hover{
		color:#121212;
	}
	.toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 10000;
	}
	.toggle.active:before{
		content: '\f00d';
		position: fixed;
		right: 25px;
		line-height: 0px;
	}
	nav.active ul{
		display: flex !important;
	}
	.bcrumbs a{
		font-size: 0.85rem;
	}
	.childBcrumbs{
		width: 90%;
	}
	.parentPost{
		width: 90%;
	}
	.contentPost{
		padding: 25px;
	}
	.metaCategory a {
		font-size: 1.25rem;
	}
	.titlePost{
		font-size: 1.5rem;
	}
	#titleDesc{
		font-size: 0.8rem;
	}
	.article{
		line-height: 1.75;
		font-size: 0.95rem;
	}
	.about-container{
		top: 0px;
		flex-direction: column;
		width:100%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.about-text{
		width:90%;
		text-align: center;
	}
	.about-container img{
		height:200px;
		margin-left: 15px;
	}
	.about-text p:nth-child(1){
		font-size:25px;
		line-height:0;
	}
	.about-text p:nth-child(2){
		font-size:18px;
		line-height:1;
	}
	.about-text p:nth-child(3),.about-text p:nth-child(4){
		font-size:15px;
		line-height: 1.2;
	}
	.about-text button{
		width:100px;
		height: 40px;
	}
	.social a{
		width: 40px;
		height: 40px;
	}
	#goTop{
		font-size: 15px;
	}
	footer p:nth-child(2){
		width: 90%;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	.bcrumbs a{
		font-size: 0.75rem;
	}
	.childBcrumbs{
		width: 90%;
	}
	.parentPost{
		width: 90%;
	}
	.contentPost{
		padding: 15px;
	}
	.metaCategory a {
		font-size: 1.2rem;
	}
	.titlePost{
		font-size: 1.35rem;
	}
	#titleDesc{
		font-size: 0.70rem;
	}
	.article{
		line-height: 2;
		font-size: 0.85rem;
	}
	.btnArticle button{
		width: 100px;
		height: 40px;
		font-size: 0.95rem;
	}
	.about-container{
		top: 0px;
		flex-direction: column;
		width:100%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.about-text{
		width:90%;
		text-align: center;
	}
	.about-container img{
		height:150px;
	}
	.about-text p:nth-child(1){
		font-size:25px;
		line-height:0;
	}
	.about-text p:nth-child(2){
		font-size:15px;
		line-height:1;
	}
	.about-text p:nth-child(3),.about-text p:nth-child(4){
		font-size:13px;
		line-height: 1.2;
	}
	.about-text button{
		width:90px;
		height: 30px;
	}
}