@charset "utf-8";
/* Poppins font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Bungee Shade font-family: 'Bungee Shade', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); 

/* CSS Document */
body{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header{
	/* position: fixed;
	top: 0;
	left: 0; */
	width: 100%;
	/* z-index: 100000; */
}

/* Navigation */
nav {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	height:60px;
	background-color:#ffffff;
	padding:0px 10%;
	overflow: hidden;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin-left: 15px;
	font-family: myriad pro regular;
	color:#333333;
	font-size: 15px;
	padding: 0.6em 1.25em;
	font-weight: 700;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.logo{
	font-family: 'Bungee Shade', cursive; 
	color:#0B0B0B;
	font-size: 30px;
}
.shadow{
	position: relative;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}
.shadow:before,
.shadow:after{
	content: '';
	position: absolute;
	z-index: -1;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	top: 50%;
	bottom: 0;
	left: 10px;
}
.toggle{
	display: none;
}
.actived, .menu:hover {
	border-radius: 10em;
	background-color: #333333;
	color: white;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

/* Jumbotron */
section{
	width: 100%;
	height: 70vh;
	background-image:url("../source/images/personalweb_images/bg9.png");
	background-size: cover;
	background-repeat: no-repeat;
}

/* Content Jumbotron */
/* .content{
	width: 100%;
	height: 70vh;
	align-items: center;
} */
.text-container p:nth-child(1){
	font-family: myriad pro regular;
	color:#cccccc;
	font-size:30px;
}
.text-container p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	color:#ffffff;
	font-size:50px;
}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #cccccc;
	font-size:30px;
	line-height:35px;
}
.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size: 14px;
	cursor: pointer;
	outline:none;
	margin-right: 15px;
}
.text-container{
	position: absolute;
	left:13%;
	top:37.5%;
	transform:translate(-13%,-42%);
}
.hire-btn{
	border:2px solid #cccccc;
	color:#ffffff;
	background-color:transparent;
}
.down-cv{
    border:2px solid #cccccc;
	color:#ffffff;	
	background-color: transparent;
}
button:active{
	transform:scale(1.1);
}
div #myprojects{
	margin-top: 35px;
}

/* Portfolio */
.portfolio {
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
}

/* Category Filter */
#myBtnContainer{
	background-color: #ffffff;
    width: 100%;
	height: 100%;
	padding: 5px 0;
	justify-content: center;
	align-items: center;
	display: flex;
    flex-wrap: wrap;
    box-shadow:2px 2px 10px rgba(0,0,0,0.2);
}

/* Style the buttons */
.btn {
	flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content:center;
	background-color: #f1f1f1;
	font-family: myriad pro regular;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
    padding: 12px;
    margin: 5px;
	cursor: pointer;
	border: none;
	outline: none;
    transition: all 0.4s ease;
}
.btn:hover {
	background-color: #373636;
	color: white;
}
.btn.active {
	background-color: #262525;
	color: white;
	text-decoration: none;
}

/* Card Portfolio CSS */
.filterDiv {
	display: none;
}
.show {
	display: block;
}
:root {
	--clr-gray-light: #a0a0a0;
	--clr-gray-med: #616b74;
	--clr-gray-dark: #414b56;
	--clr-link: #414b56;
	--clr-banner: #262525;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
}
#card {
	overflow: hidden;
	display: block;
	box-shadow: 2px 2px 20px var(--clr-gray-light);
	background: white;
	border-radius: 0.5rem;
	position: relative;
	width: 350px;
	margin: 1rem;
	transition: 250ms all ease-in-out;
	cursor: pointer;
}
#card:hover {
	transform: scale(1.025);
	box-shadow: 2px 2px 40px var(--clr-gray-light);
}
.banner-img {
	position: absolute;
	object-fit: cover;
	height: 14rem;
	width: 100%;
}
.category-tag {
	font-size: 0.8rem;
	font-weight: bold;
	font-family: myriad pro regular;
	color: white;
	background: red;
	padding: 0.5rem 1.3rem 0.5rem 1rem;
	text-transform: uppercase;
	position: absolute;
	z-index: 1;
	border-radius: 0 2rem 2rem 0;
}
.banner {
	background: var(--clr-banner);
}
.card-body {
	margin: 15rem 1rem 1rem 1rem;
}
.blog-hashtag {
	font-size: 1rem;
	font-weight: 500;
	color: var(--clr-link);
}
.blog-title {
	margin: 1rem 0 0.5rem;
	text-transform: uppercase;
	color: var(--clr-banner);
	font-weight: bold;
	font-family: calibri;
}
.blog-description {
	color: var(--clr-gray-med);
	font-size: 0.9rem;
	font-family: calibri;
}

/* Footer */
footer p{
	font-family: calibri;
}
footer p:nth-child(1){
	font-size: 30px;
	font-weight:bold;
	color:#191919;
	line-height:10px;
}
footer p:nth-child(2){
	font-size: 16px;
	color:#7e7d7d;
	width:600px;
	text-align: center;
}
footer{
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}
.copyright{
	color:#565555;
	font-size: 12px;
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}
.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#2B2B2B;
}

/* Go To Top */
#goTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 25px;
	border: none;
	outline: none;
	background-color: #333333;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	}
#goTop:hover {
	background-color: #555;
}
/* Responsive */
@media(max-width:1024px){
	*{
		box-sizing: border-box;
	}
	.model{
		height: 430px;
		left: 75%;
		transform: translateX(-75%);
	}
	.text-container{
		top:46%;
	}
	.text-container button{
		margin: 5px;
	}
	.about-container{
		width:85%;
		border-radius: 10px;
	}
	.about-container img{
		height: 200px;
	}
	.about-text{
		width: 400px;
	}
	.about-text p:nth-child(1){
		font-size: 25px;
	}
	.about-text p:nth-child(2){
		font-size: 15px;
	}
	.about-text p:nth-child(3),
	.about-text p:nth-child(4){
		font-size: 14px;
	}
	.services{
		padding: 2% 5% 0px 5%;
	}
	.services-text p:nth-child(1){
		font-size: 25px;
	}
	.services-text p:nth-child(2){
		font-size: 15px;
	}
	.services-text p:nth-child(3){
		font-size: 14px;
	}
	.box-container{
		justify-content: center;
		flex-wrap: wrap;
	}
	.services{
		height: auto;
	}
	.box-1,.box-2,.box-3{
		flex-grow: 1;
		margin: 10px;
	}
	.contact-me{
		height: 200px;
	}
	.contact-me p{
		font-size: 26px;
	}
	.contact-me button{
		font-size: 14px;
		height:35px;
		width: 160px;
	}
}
@media(max-width:768px){
	section{
		width: 100%;
		height: 65vh;
		background-image:url("../source/images/personalweb_images/bg9m.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.model{
		display: none;
	}
	.toggle{
		display: block;
	}
	.text-container p:nth-child(2){
		line-height: 40px;
		margin: 0px;
		padding: 0px;
	}
	.text-container p:nth-child(3){
		margin: 25px 0 25px;
		padding: 0;
	}
	.text-container{
		top: 40%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
	}
	nav ul{
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;
		display: none;
	}
	nav ul li{
		padding: 20px;
	}
	nav ul li a{
		font-family: calibri;
		font-size: 1.4em;
		text-transform: uppercase;
		color:#5c5c5c;
	}
	nav ul li a:hover{
		color:#121212;
	}
	.toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 10000;
	}
	.toggle.active:before{
		content: '\f00d';
		position: fixed;
		right: 25px;
		line-height: 0px;
	}
	nav.active ul{
		display: flex !important;
	}
	.btn {
		font-size: 14px;
		padding: 10px;
		margin: 2.5px;
	}
	.social a{
		width: 40px;
		height: 40px;
	}
	#goTop{
		font-size: 15px;
	}
	footer p:nth-child(2){
		width: 90%;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	.text-container p:nth-child(1){
		font-size: 27px;
	}
	.text-container p:nth-child(2){
		font-size: 40px;
	}
	.text-container p:nth-child(3){
		font-size: 23px;
	}
	.text-container button{
		width: 100px;
		height: 35px;
	}
	#card{
		width: 275px;
	}
}