body{
	font-family: 'Poppins', sans-serif;
	/* background-color:#f6f5f5; */
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header{
	/* position: fixed;
	top: 0;
	left: 0; */
	width: 100%;
	/* z-index: 100000; */
}			

/* Navigation */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:60px;
	background-color:#ffffff;
	padding:0px 10%;
	overflow: hidden;
	/* -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); */
}
nav ul{
	display: flex;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.logo{
	font-family: 'Bungee Shade', cursive; 
	color:#0B0B0B;
	font-size: 30px;
}
nav ul li a{
	margin-left: 50px;
	font-family: myriad pro regular;
	color:#333333;
	font-size: 15px;
	font-weight: 700;
}
nav ul li a .active{
	color:#000000;
	font-style: italic;
}

section{
  width: 100%;
  height: 95vh;
  background-color: #e6e6e6;
}